## Document to merge the price datasetes for different products, and put them into a dummy format. 
## Takes the "NEW" prices downloaded from Keepa. 
Created by Sofia Lozano using Python, ChatGPT and MicrosoftCopilot (December 3rd, 2024)

In [5]:
import pandas as pd
import glob

# Define the path and pattern to search for files
path = '/Users/sofialozano/Library/CloudStorage/OneDrive-EmoryUniversity/EMORY FALL 2024/ECON 521 POLICY CAUSAL INFERENCE/Final Project 521/521 Prices Amazon keepa'
pattern = f"{path}/*NEW*.csv"

# Find all files matching the pattern
files = glob.glob(pattern)

# Read each file into a dataframe and store them in a dictionary
dataframes = {file: pd.read_csv(file) for file in files}

# Print the names of the files imported
print("Imported files:", list(dataframes.keys()))

Imported files: ['/Users/sofialozano/Library/CloudStorage/OneDrive-EmoryUniversity/EMORY FALL 2024/ECON 521 POLICY CAUSAL INFERENCE/Final Project 521/521 Prices Amazon keepa/NEW_toasteroven_amazon_asins.csv', '/Users/sofialozano/Library/CloudStorage/OneDrive-EmoryUniversity/EMORY FALL 2024/ECON 521 POLICY CAUSAL INFERENCE/Final Project 521/521 Prices Amazon keepa/NEW_blush_amazon_asins.csv', '/Users/sofialozano/Library/CloudStorage/OneDrive-EmoryUniversity/EMORY FALL 2024/ECON 521 POLICY CAUSAL INFERENCE/Final Project 521/521 Prices Amazon keepa/NEW_hotwheels_amazon_asins.csv', '/Users/sofialozano/Library/CloudStorage/OneDrive-EmoryUniversity/EMORY FALL 2024/ECON 521 POLICY CAUSAL INFERENCE/Final Project 521/521 Prices Amazon keepa/NEW_dryeraseboard_amazon_asins.csv', '/Users/sofialozano/Library/CloudStorage/OneDrive-EmoryUniversity/EMORY FALL 2024/ECON 521 POLICY CAUSAL INFERENCE/Final Project 521/521 Prices Amazon keepa/NEW_RolandArborioSuperfino_amazon_asins.csv', '/Users/sofialozano/Library/CloudStorage/OneDrive-EmoryUniversity/EMORY FALL 2024/ECON 521 POLICY CAUSAL INFERENCE/Final Project 521/521 Prices Amazon keepa/NEW_umbrella_amazon_asins.csv', '/Users/sofialozano/Library/CloudStorage/OneDrive-EmoryUniversity/EMORY FALL 2024/ECON 521 POLICY CAUSAL INFERENCE/Final Project 521/521 Prices Amazon keepa/NEW_beanie_amazon_asins.csv', '/Users/sofialozano/Library/CloudStorage/OneDrive-EmoryUniversity/EMORY FALL 2024/ECON 521 POLICY CAUSAL INFERENCE/Final Project 521/521 Prices Amazon keepa/NEW_CassioVintageWatch_amazon_asins.csv', '/Users/sofialozano/Library/CloudStorage/OneDrive-EmoryUniversity/EMORY FALL 2024/ECON 521 POLICY CAUSAL INFERENCE/Final Project 521/521 Prices Amazon keepa/NEW_arborio_amazon_asins.csv', '/Users/sofialozano/Library/CloudStorage/OneDrive-EmoryUniversity/EMORY FALL 2024/ECON 521 POLICY CAUSAL INFERENCE/Final Project 521/521 Prices Amazon keepa/NEW_tents_amazon_asins.csv', '/Users/sofialozano/Library/CloudStorage/OneDrive-EmoryUniversity/EMORY FALL 2024/ECON 521 POLICY CAUSAL INFERENCE/Final Project 521/521 Prices Amazon keepa/NEW_avocados_amazon_asins.csv', '/Users/sofialozano/Library/CloudStorage/OneDrive-EmoryUniversity/EMORY FALL 2024/ECON 521 POLICY CAUSAL INFERENCE/Final Project 521/521 Prices Amazon keepa/NEW_BarillaPasta_amazon_asins.csv', '/Users/sofialozano/Library/CloudStorage/OneDrive-EmoryUniversity/EMORY FALL 2024/ECON 521 POLICY CAUSAL INFERENCE/Final Project 521/521 Prices Amazon keepa/NEW_measuringcups_amazon_asins.csv', '/Users/sofialozano/Library/CloudStorage/OneDrive-EmoryUniversity/EMORY FALL 2024/ECON 521 POLICY CAUSAL INFERENCE/Final Project 521/521 Prices Amazon keepa/NEW_toothbrush_amazon_asins.csv', '/Users/sofialozano/Library/CloudStorage/OneDrive-EmoryUniversity/EMORY FALL 2024/ECON 521 POLICY CAUSAL INFERENCE/Final Project 521/521 Prices Amazon keepa/NEW_tshirt_amazon_asins.csv', '/Users/sofialozano/Library/CloudStorage/OneDrive-EmoryUniversity/EMORY FALL 2024/ECON 521 POLICY CAUSAL INFERENCE/Final Project 521/521 Prices Amazon keepa/NEW_markers_amazon_asins.csv', '/Users/sofialozano/Library/CloudStorage/OneDrive-EmoryUniversity/EMORY FALL 2024/ECON 521 POLICY CAUSAL INFERENCE/Final Project 521/521 Prices Amazon keepa/NEW_knife_amazon_asins.csv', '/Users/sofialozano/Library/CloudStorage/OneDrive-EmoryUniversity/EMORY FALL 2024/ECON 521 POLICY CAUSAL INFERENCE/Final Project 521/521 Prices Amazon keepa/NEW_eyebrow_amazon_asins.csv', '/Users/sofialozano/Library/CloudStorage/OneDrive-EmoryUniversity/EMORY FALL 2024/ECON 521 POLICY CAUSAL INFERENCE/Final Project 521/521 Prices Amazon keepa/NEW_almondmilk_amazon_asins.csv', '/Users/sofialozano/Library/CloudStorage/OneDrive-EmoryUniversity/EMORY FALL 2024/ECON 521 POLICY CAUSAL INFERENCE/Final Project 521/521 Prices Amazon keepa/NEW_foundation_amazon_asins.csv', '/Users/sofialozano/Library/CloudStorage/OneDrive-EmoryUniversity/EMORY FALL 2024/ECON 521 POLICY CAUSAL INFERENCE/Final Project 521/521 Prices Amazon keepa/NEW_headbands_amazon_asins.csv', '/Users/sofialozano/Library/CloudStorage/OneDrive-EmoryUniversity/EMORY FALL 2024/ECON 521 POLICY CAUSAL INFERENCE/Final Project 521/521 Prices Amazon keepa/NEW_stanley_amazon_asins.csv', '/Users/sofialozano/Library/CloudStorage/OneDrive-EmoryUniversity/EMORY FALL 2024/ECON 521 POLICY CAUSAL INFERENCE/Final Project 521/521 Prices Amazon keepa/NEW_nutmix_amazon_asins.csv']

In [6]:
# Create a dictionary to store the dataframes with the new names
named_dataframes = {}

# Iterate over the dataframes dictionary
for file_path, df in dataframes.items():
    # Extract the name from the file path
    name = file_path.split('NEW_')[1].split('_amazon_asins.csv')[0]
    # Store the dataframe in the new dictionary with the extracted name
    named_dataframes[name] = df

# Print the names of the new dataframes
print("Named dataframes:", list(named_dataframes.keys()))

Named dataframes: ['toasteroven', 'blush', 'hotwheels', 'dryeraseboard', 'RolandArborioSuperfino', 'umbrella', 'beanie', 'CassioVintageWatch', 'arborio', 'tents', 'avocados', 'BarillaPasta', 'measuringcups', 'toothbrush', 'tshirt', 'markers', 'knife', 'eyebrow', 'almondmilk', 'foundation', 'headbands', 'stanley', 'nutmix']

In [7]:
for name, df in named_dataframes.items():
    print(f"DataFrame: {name}")
    print(df.head())
    print("\n")

DataFrame: toasteroven
   Unnamed: 0        date   price        asin market
0           0  2013-11-04  179.95  B00357YS3A     us
1           1  2013-11-05  179.95  B00357YS3A     us
2           2  2013-11-06  179.95  B00357YS3A     us
3           3  2013-11-07  179.95  B00357YS3A     us
4           4  2013-11-08  179.95  B00357YS3A     us


DataFrame: blush
   Unnamed: 0        date  price        asin market
0           0  2014-04-30    NaN  B00J56D0G6     us
1           1  2014-05-01    NaN  B00J56D0G6     us
2           2  2014-05-02    NaN  B00J56D0G6     us
3           3  2014-05-03    NaN  B00J56D0G6     us
4           4  2014-05-04    NaN  B00J56D0G6     us


DataFrame: hotwheels
   Unnamed: 0        date  price        asin market
0           0  2011-03-24   4.94  B002ZCZ0F6     us
1           1  2011-03-25   4.45  B002ZCZ0F6     us
2           2  2011-03-26   4.45  B002ZCZ0F6     us
3           3  2011-03-27   4.45  B002ZCZ0F6     us
4           4  2011-03-28   4.45  B002ZCZ0F6     us


DataFrame: dryeraseboard
   Unnamed: 0        date  price        asin market
0           0  2015-12-07  74.90  B014F7INM0     us
1           1  2015-12-08  74.90  B014F7INM0     us
2           2  2015-12-09  74.90  B014F7INM0     us
3           3  2015-12-10  74.90  B014F7INM0     us
4           4  2015-12-11  64.41  B014F7INM0     us


DataFrame: RolandArborioSuperfino
   Unnamed: 0        date  price        asin market
0           0  2011-03-26   21.0  B000UXZ1PQ     us
1           1  2011-03-27   21.0  B000UXZ1PQ     us
2           2  2011-03-28   21.0  B000UXZ1PQ     us
3           3  2011-03-29   21.0  B000UXZ1PQ     us
4           4  2011-03-30   21.0  B000UXZ1PQ     us


DataFrame: umbrella
   Unnamed: 0        date  price        asin market
0           0  2015-12-29  34.99  B0160HYB8S     us
1           1  2015-12-30  34.99  B0160HYB8S     us
2           2  2015-12-31  34.99  B0160HYB8S     us
3           3  2016-01-01  34.99  B0160HYB8S     us
4           4  2016-01-02  34.99  B0160HYB8S     us


DataFrame: beanie
   Unnamed: 0        date  price        asin market
0           0  2011-11-15   6.99  B002G9UDYG     us
1           1  2011-11-16   6.99  B002G9UDYG     us
2           2  2011-11-17   6.99  B002G9UDYG     us
3           3  2011-11-18   6.99  B002G9UDYG     us
4           4  2011-11-19   6.99  B002G9UDYG     us


DataFrame: CassioVintageWatch
   Unnamed: 0        date  price        asin market
0           0  2013-11-26   7.21  B000GB0G7A     us
1           1  2013-11-27   7.21  B000GB0G7A     us
2           2  2013-11-28   7.14  B000GB0G7A     us
3           3  2013-11-29   7.14  B000GB0G7A     us
4           4  2013-11-30   7.21  B000GB0G7A     us


DataFrame: arborio
   Unnamed: 0        date  price        asin market
0           0  2015-05-14   30.1  B00112UBOG     us
1           1  2015-05-15   30.1  B00112UBOG     us
2           2  2015-05-16   30.1  B00112UBOG     us
3           3  2015-05-17   30.1  B00112UBOG     us
4           4  2015-05-18   30.1  B00112UBOG     us


DataFrame: tents
   Unnamed: 0        date  price        asin market
0           0  2011-08-01  23.58  B0050P22VK     us
1           1  2011-08-02  23.58  B0050P22VK     us
2           2  2011-08-03  23.58  B0050P22VK     us
3           3  2011-08-04  23.58  B0050P22VK     us
4           4  2011-08-05  23.58  B0050P22VK     us


DataFrame: avocados
   Unnamed: 0        date  price        asin market
0           0  2015-06-21   22.1  B00CIZ7I14     us
1           1  2015-06-22   22.1  B00CIZ7I14     us
2           2  2015-06-23   22.1  B00CIZ7I14     us
3           3  2015-06-24   22.1  B00CIZ7I14     us
4           4  2015-06-25   22.1  B00CIZ7I14     us


DataFrame: BarillaPasta
   Unnamed: 0        date  price        asin market
0           0  2015-06-01    NaN  B00WBGKJPW     us
1           1  2015-06-02    NaN  B00WBGKJPW     us
2           2  2015-06-03    NaN  B00WBGKJPW     us
3           3  2015-06-04    NaN  B00WBGKJPW     us
4           4  2015-06-05    NaN  B00WBGKJPW     us


DataFrame: measuringcups
   Unnamed: 0        date  price        asin market
0           0  2014-08-24  14.99  B00M2J7PCI     us
1           1  2014-08-25  14.99  B00M2J7PCI     us
2           2  2014-08-26  14.99  B00M2J7PCI     us
3           3  2014-08-27  14.99  B00M2J7PCI     us
4           4  2014-08-28  14.99  B00M2J7PCI     us


DataFrame: toothbrush
   Unnamed: 0        date  price        asin market
0           0  2015-07-26   34.0  B003UKM9CO     us
1           1  2015-07-27   34.0  B003UKM9CO     us
2           2  2015-07-28   34.0  B003UKM9CO     us
3           3  2015-07-29   34.0  B003UKM9CO     us
4           4  2015-07-30   34.0  B003UKM9CO     us


DataFrame: tshirt
   Unnamed: 0        date  price        asin market
0           0  2015-01-13    6.0  B00NOY3JSE     us
1           1  2015-01-14    6.0  B00NOY3JSE     us
2           2  2015-01-15    6.0  B00NOY3JSE     us
3           3  2015-01-16    6.0  B00NOY3JSE     us
4           4  2015-01-17    6.0  B00NOY3JSE     us


DataFrame: markers
   Unnamed: 0        date  price        asin market
0           0  2012-09-12   46.0  B001VB4T86     us
1           1  2012-09-13   46.0  B001VB4T86     us
2           2  2012-09-14   46.0  B001VB4T86     us
3           3  2012-09-15   46.0  B001VB4T86     us
4           4  2012-09-16   46.0  B001VB4T86     us


DataFrame: knife
   Unnamed: 0        date  price        asin market
0           0  2016-03-30  39.99  B01DDBJF12     us
1           1  2016-03-31  39.99  B01DDBJF12     us
2           2  2016-04-01  39.99  B01DDBJF12     us
3           3  2016-04-02  39.99  B01DDBJF12     us
4           4  2016-04-03  39.99  B01DDBJF12     us


DataFrame: eyebrow
   Unnamed: 0        date  price        asin market
0           0  2014-09-23   9.99  B00IVKL4BA     us
1           1  2014-09-24   9.99  B00IVKL4BA     us
2           2  2014-09-25   9.99  B00IVKL4BA     us
3           3  2014-09-26   9.99  B00IVKL4BA     us
4           4  2014-09-27   9.99  B00IVKL4BA     us


DataFrame: almondmilk
   Unnamed: 0        date  price        asin market
0           0  2014-11-18  18.98  B00PGXQ68Q     us
1           1  2014-11-19  18.98  B00PGXQ68Q     us
2           2  2014-11-20  18.98  B00PGXQ68Q     us
3           3  2014-11-21  18.98  B00PGXQ68Q     us
4           4  2014-11-22  18.98  B00PGXQ68Q     us


DataFrame: foundation
   Unnamed: 0        date  price        asin market
0           0  2016-02-21  18.04  B01ACPW0MS     us
1           1  2016-02-22  18.04  B01ACPW0MS     us
2           2  2016-02-23  18.04  B01ACPW0MS     us
3           3  2016-02-24  19.43  B01ACPW0MS     us
4           4  2016-02-25  19.43  B01ACPW0MS     us


DataFrame: headbands
   Unnamed: 0        date  price        asin market
0           0  2011-03-24   3.69  B002Q9Z4IQ     us
1           1  2011-03-25   3.69  B002Q9Z4IQ     us
2           2  2011-03-26   3.69  B002Q9Z4IQ     us
3           3  2011-03-27   3.69  B002Q9Z4IQ     us
4           4  2011-03-28   3.69  B002Q9Z4IQ     us


DataFrame: stanley
   Unnamed: 0        date  price        asin market
0           0  2014-10-24  24.97  B000FZX93K     us
1           1  2014-10-25  24.97  B000FZX93K     us
2           2  2014-10-26  24.97  B000FZX93K     us
3           3  2014-10-27  24.59  B000FZX93K     us
4           4  2014-10-28  19.58  B000FZX93K     us


DataFrame: nutmix
   Unnamed: 0        date  price        asin market
0           0  2012-11-09   25.0  B00A4KVZQO     us
1           1  2012-11-10   25.0  B00A4KVZQO     us
2           2  2012-11-11   25.0  B00A4KVZQO     us
3           3  2012-11-12   25.0  B00A4KVZQO     us
4           4  2012-11-13   25.0  B00A4KVZQO     us

In [8]:
for name, df in named_dataframes.items():
    df['product_name'] = name

# Verify the changes
for name, df in named_dataframes.items():
    print(f"DataFrame: {name}")
    print(df.head())
    print("\n")

DataFrame: toasteroven
   Unnamed: 0        date   price        asin market product_name
0           0  2013-11-04  179.95  B00357YS3A     us  toasteroven
1           1  2013-11-05  179.95  B00357YS3A     us  toasteroven
2           2  2013-11-06  179.95  B00357YS3A     us  toasteroven
3           3  2013-11-07  179.95  B00357YS3A     us  toasteroven
4           4  2013-11-08  179.95  B00357YS3A     us  toasteroven


DataFrame: blush
   Unnamed: 0        date  price        asin market product_name
0           0  2014-04-30    NaN  B00J56D0G6     us        blush
1           1  2014-05-01    NaN  B00J56D0G6     us        blush
2           2  2014-05-02    NaN  B00J56D0G6     us        blush
3           3  2014-05-03    NaN  B00J56D0G6     us        blush
4           4  2014-05-04    NaN  B00J56D0G6     us        blush


DataFrame: hotwheels
   Unnamed: 0        date  price        asin market product_name
0           0  2011-03-24   4.94  B002ZCZ0F6     us    hotwheels
1           1  2011-03-25   4.45  B002ZCZ0F6     us    hotwheels
2           2  2011-03-26   4.45  B002ZCZ0F6     us    hotwheels
3           3  2011-03-27   4.45  B002ZCZ0F6     us    hotwheels
4           4  2011-03-28   4.45  B002ZCZ0F6     us    hotwheels


DataFrame: dryeraseboard
   Unnamed: 0        date  price        asin market   product_name
0           0  2015-12-07  74.90  B014F7INM0     us  dryeraseboard
1           1  2015-12-08  74.90  B014F7INM0     us  dryeraseboard
2           2  2015-12-09  74.90  B014F7INM0     us  dryeraseboard
3           3  2015-12-10  74.90  B014F7INM0     us  dryeraseboard
4           4  2015-12-11  64.41  B014F7INM0     us  dryeraseboard


DataFrame: RolandArborioSuperfino
   Unnamed: 0        date  price        asin market            product_name
0           0  2011-03-26   21.0  B000UXZ1PQ     us  RolandArborioSuperfino
1           1  2011-03-27   21.0  B000UXZ1PQ     us  RolandArborioSuperfino
2           2  2011-03-28   21.0  B000UXZ1PQ     us  RolandArborioSuperfino
3           3  2011-03-29   21.0  B000UXZ1PQ     us  RolandArborioSuperfino
4           4  2011-03-30   21.0  B000UXZ1PQ     us  RolandArborioSuperfino


DataFrame: umbrella
   Unnamed: 0        date  price        asin market product_name
0           0  2015-12-29  34.99  B0160HYB8S     us     umbrella
1           1  2015-12-30  34.99  B0160HYB8S     us     umbrella
2           2  2015-12-31  34.99  B0160HYB8S     us     umbrella
3           3  2016-01-01  34.99  B0160HYB8S     us     umbrella
4           4  2016-01-02  34.99  B0160HYB8S     us     umbrella


DataFrame: beanie
   Unnamed: 0        date  price        asin market product_name
0           0  2011-11-15   6.99  B002G9UDYG     us       beanie
1           1  2011-11-16   6.99  B002G9UDYG     us       beanie
2           2  2011-11-17   6.99  B002G9UDYG     us       beanie
3           3  2011-11-18   6.99  B002G9UDYG     us       beanie
4           4  2011-11-19   6.99  B002G9UDYG     us       beanie


DataFrame: CassioVintageWatch
   Unnamed: 0        date  price        asin market        product_name
0           0  2013-11-26   7.21  B000GB0G7A     us  CassioVintageWatch
1           1  2013-11-27   7.21  B000GB0G7A     us  CassioVintageWatch
2           2  2013-11-28   7.14  B000GB0G7A     us  CassioVintageWatch
3           3  2013-11-29   7.14  B000GB0G7A     us  CassioVintageWatch
4           4  2013-11-30   7.21  B000GB0G7A     us  CassioVintageWatch


DataFrame: arborio
   Unnamed: 0        date  price        asin market product_name
0           0  2015-05-14   30.1  B00112UBOG     us      arborio
1           1  2015-05-15   30.1  B00112UBOG     us      arborio
2           2  2015-05-16   30.1  B00112UBOG     us      arborio
3           3  2015-05-17   30.1  B00112UBOG     us      arborio
4           4  2015-05-18   30.1  B00112UBOG     us      arborio


DataFrame: tents
   Unnamed: 0        date  price        asin market product_name
0           0  2011-08-01  23.58  B0050P22VK     us        tents
1           1  2011-08-02  23.58  B0050P22VK     us        tents
2           2  2011-08-03  23.58  B0050P22VK     us        tents
3           3  2011-08-04  23.58  B0050P22VK     us        tents
4           4  2011-08-05  23.58  B0050P22VK     us        tents


DataFrame: avocados
   Unnamed: 0        date  price        asin market product_name
0           0  2015-06-21   22.1  B00CIZ7I14     us     avocados
1           1  2015-06-22   22.1  B00CIZ7I14     us     avocados
2           2  2015-06-23   22.1  B00CIZ7I14     us     avocados
3           3  2015-06-24   22.1  B00CIZ7I14     us     avocados
4           4  2015-06-25   22.1  B00CIZ7I14     us     avocados


DataFrame: BarillaPasta
   Unnamed: 0        date  price        asin market  product_name
0           0  2015-06-01    NaN  B00WBGKJPW     us  BarillaPasta
1           1  2015-06-02    NaN  B00WBGKJPW     us  BarillaPasta
2           2  2015-06-03    NaN  B00WBGKJPW     us  BarillaPasta
3           3  2015-06-04    NaN  B00WBGKJPW     us  BarillaPasta
4           4  2015-06-05    NaN  B00WBGKJPW     us  BarillaPasta


DataFrame: measuringcups
   Unnamed: 0        date  price        asin market   product_name
0           0  2014-08-24  14.99  B00M2J7PCI     us  measuringcups
1           1  2014-08-25  14.99  B00M2J7PCI     us  measuringcups
2           2  2014-08-26  14.99  B00M2J7PCI     us  measuringcups
3           3  2014-08-27  14.99  B00M2J7PCI     us  measuringcups
4           4  2014-08-28  14.99  B00M2J7PCI     us  measuringcups


DataFrame: toothbrush
   Unnamed: 0        date  price        asin market product_name
0           0  2015-07-26   34.0  B003UKM9CO     us   toothbrush
1           1  2015-07-27   34.0  B003UKM9CO     us   toothbrush
2           2  2015-07-28   34.0  B003UKM9CO     us   toothbrush
3           3  2015-07-29   34.0  B003UKM9CO     us   toothbrush
4           4  2015-07-30   34.0  B003UKM9CO     us   toothbrush


DataFrame: tshirt
   Unnamed: 0        date  price        asin market product_name
0           0  2015-01-13    6.0  B00NOY3JSE     us       tshirt
1           1  2015-01-14    6.0  B00NOY3JSE     us       tshirt
2           2  2015-01-15    6.0  B00NOY3JSE     us       tshirt
3           3  2015-01-16    6.0  B00NOY3JSE     us       tshirt
4           4  2015-01-17    6.0  B00NOY3JSE     us       tshirt


DataFrame: markers
   Unnamed: 0        date  price        asin market product_name
0           0  2012-09-12   46.0  B001VB4T86     us      markers
1           1  2012-09-13   46.0  B001VB4T86     us      markers
2           2  2012-09-14   46.0  B001VB4T86     us      markers
3           3  2012-09-15   46.0  B001VB4T86     us      markers
4           4  2012-09-16   46.0  B001VB4T86     us      markers


DataFrame: knife
   Unnamed: 0        date  price        asin market product_name
0           0  2016-03-30  39.99  B01DDBJF12     us        knife
1           1  2016-03-31  39.99  B01DDBJF12     us        knife
2           2  2016-04-01  39.99  B01DDBJF12     us        knife
3           3  2016-04-02  39.99  B01DDBJF12     us        knife
4           4  2016-04-03  39.99  B01DDBJF12     us        knife


DataFrame: eyebrow
   Unnamed: 0        date  price        asin market product_name
0           0  2014-09-23   9.99  B00IVKL4BA     us      eyebrow
1           1  2014-09-24   9.99  B00IVKL4BA     us      eyebrow
2           2  2014-09-25   9.99  B00IVKL4BA     us      eyebrow
3           3  2014-09-26   9.99  B00IVKL4BA     us      eyebrow
4           4  2014-09-27   9.99  B00IVKL4BA     us      eyebrow


DataFrame: almondmilk
   Unnamed: 0        date  price        asin market product_name
0           0  2014-11-18  18.98  B00PGXQ68Q     us   almondmilk
1           1  2014-11-19  18.98  B00PGXQ68Q     us   almondmilk
2           2  2014-11-20  18.98  B00PGXQ68Q     us   almondmilk
3           3  2014-11-21  18.98  B00PGXQ68Q     us   almondmilk
4           4  2014-11-22  18.98  B00PGXQ68Q     us   almondmilk


DataFrame: foundation
   Unnamed: 0        date  price        asin market product_name
0           0  2016-02-21  18.04  B01ACPW0MS     us   foundation
1           1  2016-02-22  18.04  B01ACPW0MS     us   foundation
2           2  2016-02-23  18.04  B01ACPW0MS     us   foundation
3           3  2016-02-24  19.43  B01ACPW0MS     us   foundation
4           4  2016-02-25  19.43  B01ACPW0MS     us   foundation


DataFrame: headbands
   Unnamed: 0        date  price        asin market product_name
0           0  2011-03-24   3.69  B002Q9Z4IQ     us    headbands
1           1  2011-03-25   3.69  B002Q9Z4IQ     us    headbands
2           2  2011-03-26   3.69  B002Q9Z4IQ     us    headbands
3           3  2011-03-27   3.69  B002Q9Z4IQ     us    headbands
4           4  2011-03-28   3.69  B002Q9Z4IQ     us    headbands


DataFrame: stanley
   Unnamed: 0        date  price        asin market product_name
0           0  2014-10-24  24.97  B000FZX93K     us      stanley
1           1  2014-10-25  24.97  B000FZX93K     us      stanley
2           2  2014-10-26  24.97  B000FZX93K     us      stanley
3           3  2014-10-27  24.59  B000FZX93K     us      stanley
4           4  2014-10-28  19.58  B000FZX93K     us      stanley


DataFrame: nutmix
   Unnamed: 0        date  price        asin market product_name
0           0  2012-11-09   25.0  B00A4KVZQO     us       nutmix
1           1  2012-11-10   25.0  B00A4KVZQO     us       nutmix
2           2  2012-11-11   25.0  B00A4KVZQO     us       nutmix
3           3  2012-11-12   25.0  B00A4KVZQO     us       nutmix
4           4  2012-11-13   25.0  B00A4KVZQO     us       nutmix

In [12]:
#Step 3: Create df3 with food items as treatments
df3 = pd.DataFrame()
for product_name, df in named_dataframes.items():
    df = df.copy()
    df["product"] = product_name
    df3 = pd.concat([df3, df], ignore_index=True)

# Assign treatment for df3. Select the treated products: 
df3["treatment"] = df3["product"].isin(["arborio", "RolandArborioSuperfino", "BarillaPasta", "avocados", "almondmilk", "nutmix"]).astype(int)

# Drop unnecessary columns and ensure proper formatting
df3.drop(columns=["Unnamed: 0"], inplace=True, errors='ignore')  # Ignore if column doesn't exist
df3["date"] = pd.to_datetime(df3["date"])

# View the result
print("DataFrame 3 (all treatment products):")
df3

DataFrame 3 (all treatment products):

,date,price,asin,market,product_name,product,treatment
0,2013-11-04,179.950,B00357YS3A,us,toasteroven,toasteroven,0
1,2013-11-05,179.950,B00357YS3A,us,toasteroven,toasteroven,0
2,2013-11-06,179.950,B00357YS3A,us,toasteroven,toasteroven,0
3,2013-11-07,179.950,B00357YS3A,us,toasteroven,toasteroven,0
4,2013-11-08,179.950,B00357YS3A,us,toasteroven,toasteroven,0
...,...,...,...,...,...,...,...
90628,2024-11-29,7.745,B00A4KVZQO,us,nutmix,nutmix,1
90629,2024-11-30,7.745,B00A4KVZQO,us,nutmix,nutmix,1
90630,2024-12-01,7.745,B00A4KVZQO,us,nutmix,nutmix,1
90631,2024-12-02,7.745,B00A4KVZQO,us,nutmix,nutmix,1
90632,2024-12-03,7.970,B00A4KVZQO,us,nutmix,nutmix,1

In [14]:
df3['post'] = (df3['date'] > '2017-08-28').astype(int)
df3

,date,price,asin,market,product_name,product,treatment,post
0,2013-11-04,179.950,B00357YS3A,us,toasteroven,toasteroven,0,0
1,2013-11-05,179.950,B00357YS3A,us,toasteroven,toasteroven,0,0
2,2013-11-06,179.950,B00357YS3A,us,toasteroven,toasteroven,0,0
3,2013-11-07,179.950,B00357YS3A,us,toasteroven,toasteroven,0,0
4,2013-11-08,179.950,B00357YS3A,us,toasteroven,toasteroven,0,0
...,...,...,...,...,...,...,...,...
90628,2024-11-29,7.745,B00A4KVZQO,us,nutmix,nutmix,1,1
90629,2024-11-30,7.745,B00A4KVZQO,us,nutmix,nutmix,1,1
90630,2024-12-01,7.745,B00A4KVZQO,us,nutmix,nutmix,1,1
90631,2024-12-02,7.745,B00A4KVZQO,us,nutmix,nutmix,1,1
90632,2024-12-03,7.970,B00A4KVZQO,us,nutmix,nutmix,1,1

In [15]:
# Convert the "price" column to log units for df3
import numpy as np 
df3['log_price'] = np.log(df3['price'])

# View the result
df3

,date,price,asin,market,product_name,product,treatment,post,log_price
0,2013-11-04,179.950,B00357YS3A,us,toasteroven,toasteroven,0,0,5.192679
1,2013-11-05,179.950,B00357YS3A,us,toasteroven,toasteroven,0,0,5.192679
2,2013-11-06,179.950,B00357YS3A,us,toasteroven,toasteroven,0,0,5.192679
3,2013-11-07,179.950,B00357YS3A,us,toasteroven,toasteroven,0,0,5.192679
4,2013-11-08,179.950,B00357YS3A,us,toasteroven,toasteroven,0,0,5.192679
...,...,...,...,...,...,...,...,...,...
90628,2024-11-29,7.745,B00A4KVZQO,us,nutmix,nutmix,1,1,2.047047
90629,2024-11-30,7.745,B00A4KVZQO,us,nutmix,nutmix,1,1,2.047047
90630,2024-12-01,7.745,B00A4KVZQO,us,nutmix,nutmix,1,1,2.047047
90631,2024-12-02,7.745,B00A4KVZQO,us,nutmix,nutmix,1,1,2.047047
90632,2024-12-03,7.970,B00A4KVZQO,us,nutmix,nutmix,1,1,2.075684

In [18]:
treated_product_names = df3[df3['treatment'] == 0]['product_name'].unique()
print("Product names with treatment == 0:", treated_product_names)

Product names with treatment == 0: ['toasteroven' 'blush' 'hotwheels' 'dryeraseboard' 'umbrella' 'beanie'
 'CassioVintageWatch' 'tents' 'measuringcups' 'toothbrush' 'tshirt'
 'markers' 'knife' 'eyebrow' 'foundation' 'headbands' 'stanley']

In [19]:
df3.to_csv('/Users/sofialozano/Library/CloudStorage/OneDrive-EmoryUniversity/EMORY FALL 2024/ECON 521 POLICY CAUSAL INFERENCE/Final Project 521/Processed Data/combined.csv', index=False)